ChatBot.json
{
  "name": "ChatBot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5ace1238-e259-48fa-8b99-d3da7ec8b2fa",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        0
      ],
      "id": "a0fa72bd-ada5-4cc8-a967-0360a1b3c22d",
      "name": "Webhook",
      "webhookId": "5ace1238-e259-48fa-8b99-d3da7ec8b2fa"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        0
      ],
      "id": "4d56118a-8747-43fc-b066-04e2b4f18da3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        192
      ],
      "id": "0b42a60a-0078-4a16-a223-80c4d02f4a38",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PV15GotLKHPEJs2q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        0
      ],
      "id": "3dc092d0-196b-4a59-87d7-5ebacdffb6aa",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6be34783-6939-42ad-9888-d8b969a3ffbe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57a158ee861e5154d5b245ef7d91d4ccaddc05391e9e9884f1ed88ee453508d0"
  },
  "id": "slIjquz92BayzVasPvALU",
  "tags": []
}